# Rust
target/
**/target/
debug/

# Node
node_modules/
**/node_modules/
dist/
*.local

# Environment & OS
.env
.env.*
!.env.example
!**/.env.example
.DS_Store

# Rustfmt
**/*.rs.bk

# Build artifacts
*.exe
*.dll
*.pdb
